.header {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  padding: 12px 20px;
  background: #000;
}

.logo-wrap {
  position: relative;
  width: 38px;
  height: 40px;
}

.logo-wrap img {
  width: 38px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.logo-normal {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.logo-hover {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.logo-wrap:hover .logo-normal {
  opacity: 0;
}

.logo-wrap:hover .logo-hover {
  opacity: 1;
}

.nav {
  flex: 1;
  display: flex;
  //gap: 32px;
  justify-content: space-around;
  margin: 0 40px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav a:hover {
  color: #F7C518;
}

/* ========== LANGUAGE TOGGLE ========== */
.lang-toggle {
  position: relative;
  width: 104px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.lang-toggle img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.25s ease;
}

/* Start German */
.toggle-left {
  opacity: 1;
}

.toggle-right {
  opacity: 0;
}

/* Change to English */
.lang-toggle.en .toggle-left {
  opacity: 0;
}

.lang-toggle.en .toggle-right {
  opacity: 1;
}
