

.bg-section {
  background-size: cover;
  background-position: center;
  width: 100%;
}

/* Hintergrund 1: Header + See-first */
.bg-hero {
  background-image: url('/img/Design_Material/01_Background/Img_Original_Size/12_Isolated_Paper_Rips_copia.png');
}

.bg-about {
  background-color: #F8F9FA;
}

.bg-skills {
  background-image: url('/img/Design_Material/01_Background/Img_Original_Size/Skills_BG.png');
}

.bg-projects {
  background-color: #F8F9FA;
}

.bg-colleagues {
  background-color: #F8F9FA;
}

.bg-contact {
  background-image: url('/img/Design_Material/01_Background/Img_Original_Size/Footer.png');
}
